.slider {
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(82, 81, 81);
}

.main__block {
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid aqua;
} 

span {
    color: aqua;
    font-size: 3rem;
}

/* img {
    height: 30vh;
} */

.hide {
    display: none
} 

.show {
    display: block
}

.slider__counter {
    display: flex;
    flex-direction: row;
}
.slider__prev span {
    margin: 1rem;
}

.slider__next span {
    margin: 1rem;
}
.slider__wrapper {
    margin: 2rem;
}

.text-slider {
    margin-bottom: 3rem;
}